{% load staticfiles %}
<html>
    <head>
        <title>LCF scenario generator</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href="https://fonts.googleapis.com/css?family=Sansita" rel="stylesheet"> 
        <link rel="stylesheet" href="{% static 'css/lcf.css' %}">
    </head>
    <body>
        <div class="page-header">
            <h1><a href="/">LCF scenario generator</a></h1>
        </div>
        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>
