{% load staticfiles %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="/static/js/script.js"></script>

<html>
    <head>
        <title>{% block title %}{% endblock %}LCF scenario generator</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href="https://fonts.googleapis.com/css?family=Sansita" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Alegreya" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Bitter" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Slabo+27px" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'css/lcf.css' %}">
    </head>
    <body>



          <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container-fluid">
              <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand"  href="{% url 'scenario_detail' pk=recent_pk %}">LCF scenario generator</a>
              </div>
              <div id="navbar" class="navbar-collapse collapse">
               <ul class="nav navbar-nav navbar-right">
                  <li><a href="{% url 'glossary' %}">Glossary</a></li>
                </ul>
              </div>
            </div>
          </nav>

          <div class="container-fluid">
            <div class="row">
              <div class="col-sm-3 col-md-2 sidebar">
                <h1>Scenarios</h1>
                <ul class="nav nav-sidebar">
                  {% for s in scenarios %}
                      {% if scenario.pk == s.pk %}
                          <li class="active">
                      {% else %}
                          <li>
                      {% endif %}
                          <a href="{% url 'scenario_detail' pk=s.pk %}">{{ s.name }}</a><a class="del confirm-delete" href="{% url 'scenario_delete' pk=s.pk %}"><span title="delete scenario" class="glyphicon glyphicon-remove"></span> Delete</a>
                          </li>
                  {% endfor %}
                </ul>
                <ul class="nav nav-sidebar">
                    <li><a href="{% url 'scenario_new' %}"><div class="btn btn-primary">New scenario</div></a></li>
                  </ul>
                  <h1>Policies</h1>
                  <ul class="nav nav-sidebar">
                    {% for pl in policies %}
                    {% if policy.pk == pl.pk %}
                        <li class="active"><a href="{% url 'policy_detail' pk=pl.pk %}">{{ pl.name }}</a><a class="del" href="{% url 'policy_delete' pk=pl.pk %}"><span title="delete policy" class="glyphicon glyphicon-remove"></span> Delete</a></li>
                    {% else %}
                        <li><a href="{% url 'policy_detail' pk=pl.pk %}">{{ pl.name }}</a><a class="del confirm-delete" href="{% url 'policy_delete' pk=pl.pk %}"><span title="delete policy" class="glyphicon glyphicon-remove"></span> Delete</a></li>
                    {% endif %}
                {% endfor %}

                  </ul>
                  <ul class="nav nav-sidebar">
                    <li><a href="{% url 'policy_new' %}"><div class="btn btn-primary">New policy</div></a></li>
                    <!--<li class="active"><a href="#">Nav item 1 <span class="sr-only">(current)</span></a></li>-->
                  </ul>

              </div>

              <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                  {% block content %}
                  {% endblock %}


              </div>
            </div>
          </div>















    </body>
</html>
