{% load staticfiles %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script>
$(document).ready(function(){
    $( "div.btn-primary" ).click(function(){
        $(this).html("changed");
    });
});
</script>
<html>
    <head>
        <title>{% block title %}{% endblock %}LCF scenario generator</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href="https://fonts.googleapis.com/css?family=Sansita" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Alegreya" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Bitter" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Slabo+27px" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'css/lcf.css' %}">
    </head>
    <body>



          <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container-fluid">
              <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand"  href="{% url 'scenario_detail' pk=245 %}">LCF scenario generator</a>
              </div>
              <div id="navbar" class="navbar-collapse collapse">
              <!--  <ul class="nav navbar-nav navbar-right">
                  <li><a href="#">1</a></li>
                  <li><a href="#">2</a></li>
                </ul>-->
              </div>
            </div>
          </nav>

          <div class="container-fluid">
            <div class="row">
              <div class="col-sm-3 col-md-2 sidebar">
                <h1>Scenarios</h1>
                <ul class="nav nav-sidebar">
                  {% for s in scenarios %}
                      {% if scenario.pk == s.pk %}
                          <li class="active"><a href="{% url 'scenario_detail' pk=s.pk %}">{{ s.name }}</a><a class="del" href="{% url 'scenario_delete' pk=s.pk %}"><span title="delete scenario" class="glyphicon glyphicon-remove"></span> Delete</a><a class="new" href="{% url 'scenario_new' pk=s.pk %}"><span title="new scenario" class="glyphicon glyphicon-plus"></span> Save as</a></li>
                      {% else %}
                          <li><a href="{% url 'scenario_detail' pk=s.pk %}">{{ s.name }}</a><a class="del" href="{% url 'scenario_delete' pk=s.pk %}"><span title="delete scenario" class="glyphicon glyphicon-remove"></span> Delete</a><a class="new" href="{% url 'scenario_new' pk=s.pk %}"><span title="new scenario" class="glyphicon glyphicon-plus"></span> Save as</a></li>
                      {% endif %}
                  {% endfor %}
                </ul>
                <!--<ul class="nav nav-sidebar">
                    <li><a class="new" href="{% url 'scenario_new' pk=scenario.pk %}"><span title="new scenario" class="glyphicon glyphicon-plus"></span> New scenario based on current</a></li>-->
                    <!--<li class="active"><a href="#">Nav item 1 <span class="sr-only">(current)</span></a></li>-->
                </ul>
                <!--<p>Select a scenario to view its results.</p>
                <p>Click on the plus to generate a new scenario based on the current one (ie 'save as').</p>
                <p>Scenarios cannot be edited, only created and deleted.</p>-->
              </div>

              <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                  {% block content %}
                  {% endblock %}
              </div>
            </div>
          </div>

















<!--      <div class="page-header">
          <h1><a href="{% url 'scenario_new' pk=245 %}">LCF scenario generator</a></h1>
      </div>
        <div class="sidebar">
            <div class="col-md-2">
                <h1>Scenarios</h1>
                <ul>
                {% for scenario in scenarios %}
                    <li><a href="{% url 'scenario_detail' pk=scenario.pk %}">{{ scenario.name }}</a> <a href="{% url 'scenario_delete' pk=scenario.pk %}"><span title="delete scenario" class="glyphicon glyphicon-remove"></span></a></li>
                {% endfor %}
                <li><a href="{% url 'scenario_new' pk=scenario.pk %}"><span title="new scenario" class="glyphicon glyphicon-plus"></span></a></li>

                </ul>
            </div>
      </div>

      <div class="page-content-wrapper">
        <div class="content container">


            <div class="col-md-6">

            </div>

        </div>
    </div>
-->
    </body>
</html>
