
{% extends 'lcf/base.html' %}

{% block title %}
    {{ scenario.name }} -
{% endblock %}

{% block content %}
<h1 class="page-header">New policy</h1>
<form method="POST" class="form-horizontal" enctype="multipart/form-data">{% csrf_token %}
    <!-- {{ policy_form.as_p }} -->
    {% for field in policy_form %}
    <div class="form-group">
        <label for="{{ field.id_for_label }}" class="col-sm-3 control-label"  title="{{field.help_text}}">{{ field.label }}</label>
        <div class="col-sm-9"  title="{{field.help_text}}" >
            {{ field }}
            {% if policy_form.errors %}
                {% if field.errors %}
                    {% for error in field.errors %}
                        <div class="alert alert-danger col-sm-4 field-error-message">
                            <strong>{{ error|escape }}</strong>
                        </div>
                    {% endfor %}
                {% endif %}
            {% endif %}
        </div>
    </div>
    {% endfor %}
    {% for error in policy_form.non_field_errors %}
        <div class="alert alert-danger col-sm-4 col-sm-offset-3 error-message">
            <strong>{{ error|escape }}</strong>
        </div>
    {% endfor %}
    <button type="submit" class="save btn btn-primary">Submit</button>
</form>

    <!-- {{ upload_form.as_p }}
    <button type="submit" class="save btn btn-primary">Submit</button>
</form> -->

<a href="{% url 'policy_template' %}"><div class="btn btn-info">Download template?</div></a>
<!-- <h2>Notes</h2>
<ul>
    <li></li> -->
    <!-- <li>Three values are required, 2020, 2025 and 2030; the remaining values are filled in linearly</li> -->
    <!-- <li>You can list as many technologies as you like. At the moment you need at least one technology and at least one of its parameters must be filled - I'll change this. (You can fill it with a 1 to illustrate no change)</li> -->
    <!-- <li>Columns can be in any order but keep rows in order at the moment as it's not yet idiotproof</li> -->

<!-- </ul> -->

{% endblock %}
