
{% extends 'lcf/base.html' %}

{% block title %}
    {{ scenario.name }} -
{% endblock %}

{% block content %}
<h1 class="page-header">New policy</h1>
<form method="POST" class="form-horizontal" enctype="multipart/form-data">{% csrf_token %}
    <!-- {{ policy_form.as_p }} -->
    {% for field in policy_form %}
    <div class="form-group">
        <label for="{{ field.id_for_label }}" class="col-sm-3 control-label" >{{ field.label }}</label>
        <div class="col-sm-9" >
            {{ field }}
            {% if policy_form.errors %}
                {% if field.errors %}
                    {% for error in field.errors %}
                        <div class="alert alert-danger col-sm-4 field-error-message">
                            <strong>{{ error|escape }}</strong>
                        </div>
                    {% endfor %}
                {% endif %}
            {% endif %}
        </div>
    </div>
    {% endfor %}
    {% for error in policy_form.non_field_errors %}
        <div class="alert alert-danger col-sm-4 col-sm-offset-3 error-message">
            <strong>{{ error|escape }}</strong>
        </div>
    {% endfor %}
    <button type="submit" class="save btn btn-primary">Submit</button>
</form>

    <!-- {{ upload_form.as_p }}
    <button type="submit" class="save btn btn-primary">Submit</button>
</form> -->

<a href="{% url 'policy_template' %}"><div class="btn btn-info">Download template?</div></a>
<h2>Notes</h2>
<ul>
    <li>These changes are all relative changes, percentages will be multiplied by the main values. So if OFW min_levelised_cost (uploaded on the new scenario page) in 2020 is £100 and a policy is applied to it with min_levelised_cost_change in 2020 of 0.9, the resulting price will be £90</li>
    <li>Multiple policies applied to the same scenario will be chained together, so applying three policies that all multiply offshore wind min_levelised_cost by 0.9 will in total multiply the existing cost by 0.729</li>
    <li>Three values are required, 2020, 2025 and 2030; the remaining values are filled in linearly</li>
    <li>Columns can be in any order but keep rows in order at the moment as it's not yet idiotproof</li>
    <li>You can list as many technologies as you like. At the moment you need at least one technology and at least one of its parameters must be filled - I'll change this. (You can fill it with a 1 to illustrate no change)</li>
    <li>Similarly, at the moment, both wholesale_prices and gas_prices need to be filled in, so fill with a 1 to illustrate no change until I fix this</li>
</ul>

{% endblock %}
