{% extends 'lcf/base.html' %}

{% block content %}
    <h1>{{ scenario.name }}</h1>
        {{ scenario.description }}
    <p>created {{ scenario.date }}</p>
    <p>budget: {{ scenario.budget }}</p>
    <p>percent in emerging pot: {{ scenario.percent_emerging }}</p>


    <p>Cumulative cost: £{{ scenario.cost }}m</p>
    <p>Cumulative new generation: {{ scenario.gen }}TWh</p>


    {% for y in scenario.auctionyear_set.all %}
        <h3>Year: {{ y }}</h3>
        <p>Wholesale price: {{ y.wholesale_price }}</p>
        {% for p in y.pot_set.all %}
            <h4>Pot: {{ p.name }}</h4>
            <strong>Pot budget: {{ p.budget }}</strong>
            <p>Cost: £{{ p.cost }}m</p>
            <p>Generation: {{ p.gen }}TWh</p>
            <p>Manual leftover: {{ p.manual_leftover }}</p>
            <p>Affordable projects: {{ p.combined_tech_affordable_projects }}</p>
        {% endfor %}
<!--        <ul>
        {% for t in y.auctionyeartechnology_set.all %}
            <h4>Technology: {{ t.technology_name }}</h4>

            <li>Min LCOE: {{ t.min_levelised_cost }}</li>
            <li>Max LCOE: {{ t.max_levelised_cost }}</li>
            <li>Strike price: {{ t.strike_price }}</li>
            <li>Load factor: {{ t.load_factor }}</li>
            <li>Project size: {{ t.project_gen }}</li>
            <li>Max deployment: {{ t.max_deployment }}</li>
        {% endfor %}
        </ul>-->
    {% endfor %}




{% endblock %}
