{% extends 'lcf/base.html' %}

{% block title %}
    {{ scenario.name }} -
{% endblock %}

{% block content %}
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
    google.load("visualization", "1", {packages:["corechart"]});
</script>

<h1 class="page-header">{{ scenario.name }}</h1>
<!--
<div class="row placeholders">
  <div class="col-xs-6 col-sm-3 placeholder">
    <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
    <h4>Label</h4>
    <span class="text-muted">Something else</span>
  </div>
  <div class="col-xs-6 col-sm-3 placeholder">
    <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
    <h4>Label</h4>
    <span class="text-muted">Something else</span>
  </div>
  <div class="col-xs-6 col-sm-3 placeholder">
    <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
    <h4>Label</h4>
    <span class="text-muted">Something else</span>
  </div>
  <div class="col-xs-6 col-sm-3 placeholder">
    <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
    <h4>Label</h4>
    <span class="text-muted">Something else</span>
  </div>
</div>
-->

{% if scenario.description %}
    <p>{{ scenario.description }}</p>
{% endif %}
<p>created {{ scenario.date }}</p>
<!--<p>period: <strong>{{ scenario.start_year1 }} to {{ scenario.end_year1 }}</strong></p>-->
<p>budget period 1: <strong>£{{ scenario.budget }}bn</strong></p>
<p>budget period 2: <strong>£{% if scenario.budget2 != None %}{{ scenario.budget2 }}{% else %}{{ scenario.budget }}{% endif %}bn</strong></p>

<p>percent in emerging pot: <strong>{{ scenario.percent_emerging }}</strong></p>


<a href="{% url 'scenario_download' pk=scenario.pk %}"><div class="btn btn-primary">Download CSV</div></a>


<h2 class="sub-header">Summary</h2>
<div class="graph">
    {{ cumulative_costs_chart1.as_html }}
    {{ cumulative_costs_df1 | safe }}
    {{ cumulative_costs_chart2.as_html }}
    {{ cumulative_costs_df2 | safe }}
</div>

<h2 class="sub-header">Breakdown by technology</h2>
<div>
<!--    {{ pot_cum_owed_v_wp_pivot | safe }}-->
    {{ tech_cum_owed_v_wp_pivot | safe }}
    {{ tech_cum_owed_v_gas_pivot | safe }}
</div>


<h2 class="sub-header">Cumulative new generation</h2>
<div class="graph">
    {{ cum_awarded_gen_by_pot_chart1.as_html }}
    {{ pot_cum_awarded_gen_pivot| safe }}
    {{ tech_cum_awarded_gen_pivot | safe }}

<!--    {{ cum_awarded_gen_by_pot_df1 | safe }}-->
    {{ cum_awarded_gen_by_pot_chart2.as_html }}
    {{ cum_awarded_gen_by_pot_df2 | safe }}

</div>

<!--<h2 class="sub-header">Cost each year of new generation awarded</h2>
<div class="graph">
    {{ awarded_cost_by_tech_chart1.as_html }}
    {{ awarded_cost_by_tech_df1 | safe }}
    {{ awarded_cost_by_tech_chart2.as_html }}
    {{ awarded_cost_by_tech_df2 | safe }}
</div>-->

<h2 class="sub-header">Generation by technology</h2>
<div class="graph">
    {{ gen_by_tech_chart1.as_html }}
    {{ tech_gen_pivot | safe }}
<!--    {{ gen_by_tech_df1 | safe }} -->
    {{ gen_by_tech_chart2.as_html }}
    {{ gen_by_tech_df2 | safe }}
</div>

<h2 class="sub-header">Capacity by technology</h2>
<div class="graph">
    {{ cap_by_tech_chart1.as_html }}
    {{ cap_by_tech_df1 | safe }}
    {{ cap_by_tech_chart2.as_html }}
    {{ cap_by_tech_df2 | safe }}
</div>

<div class="hide-button btn btn-primary">Show/hide inputs</div>
<div class="to-hide">
  {{ scenario.techs_input_html | safe }}
  {{ scenario.prices_input_html | safe }}
  <!-- {% for tech_df in scenario.tech_df_list %}
    {{ tech_df1 | safe }}
  {% endfor %}-->
</div>
{% endblock %}


<!--






   {% for a in scenario.auctionyear_set.all %}
        {% if a.year != 2020 %}
            <hr>
            <h2>Year: {{ a.year }}</h2>
            <p>Budget: £{{ a.budget }}m</p>
            <p>Awarded: £{{ a.awarded }}m</p>
            <!--<p>Awarded generation: {{ a.awarded_gen }}GWh</p>-->
            <!--<p>Paid: £{{ a.paid }}m</p>
            <p>Unspent: {{ a.unspent }}</p>
            <p>Previous year unspent: {{ a.previous_year_unspent }}</p>
            <!--<p>Starting budget: {{ a.starting_budget}}</p>-->
            <!--{% for p in a.pot_set.all %}
                    <h3>Pot: {{ p.name }}</h3>
                    <p>Budget: £{{ p.budget }}m</p>
                <!--{% if p.name == "E" or p.name == "M" %}-->
                    <!--<p>Cost: £{{ p.cost }}m</p>
                    <p>Generation: {{ p.gen }}TWh</p>
                    <p>{{p.summary_gen_by_tech.to_html | safe}} </p>
                    <p>unspent: £{{ p.unspent }}m</p>
                    <!--<p>Projects: {{ p.projects.to_html | safe }}</p>-->
<!--                    {% for t in p.technology_set.all %}
                        <h4>{{ t.name }}:</h4>
                        {{ t.num_projects }}-->
                    <!--{% endfor %}
                <!--{% endif %}-->
            <!--{% endfor %}
        {% endif %}
    {% endfor %}-->
