{% extends 'lcf/base.html' %}
{% block content %}

<h1 class="page-header">New scenario from CSV</h1>

<form method="POST" class="form-horizontal" enctype="multipart/form-data">{% csrf_token %}
    <h3>Scenario details</h3>
    {% for field in scenario_form %}
    <div class="form-group">
        <label for="{{ field.id_for_label }}" class="col-sm-3 control-label" >{{field.label}}</label>
        <div class="col-sm-9" >{{ field }}</div>
    </div>
    {% endfor %}

    <h3>Technology prices</h3>
    <div class="form-group">
        <label for="{{ upload_form.file.id_for_label }}" class="col-sm-3 control-label">{{upload_form.file.label}}</label>
        <div class="col-sm-9">{{ upload_form.file }}</div>
    </div>

    <button type="submit" class="save btn btn-primary">Submit</button>
</form>
<a href="{% url 'template' %}"><div class="btn btn-info">Download template?</div></a>
<h2>Notes</h2>
<ul>
    <li>Columns and rows can be in any order</li>
    <li>Column names need to be the same as the template</li>
    <li>Format needs to be CSV</li>
    <li>There can't be gaps between rows or columns</li>
    <li>Values from 2020 to 2030 must be included</li>
    <li>Any technology can be placed in any pot: E (emerging), M (mature), SN (separate negotiations), FIT (feed in tariff)</li>
    <li>Not all pots need to be included. Not all technologies need to be included. It will work fine with even just one technology in one pot</li>
    <li>New technologies can be created. New pots can't be.</li>
    <li>Technologies can be excluded either by setting included to False in the CSV or by just not putting them in the CSV at all</li>
    <li>Currently technologies must be included or excluded for the whole 11 years, and must remain in the same pot for the whole 11 years - but I'm going to change this</li>
    <li>An explanation of some of the fields:<ul>
        <li>'Num new projects' allows you to specify the number of additional projects that could be deployed in a year. Currently this is only used for tidal</li>
        <li>'Max deployment cap' is the maximum new capacity (in GW) that can be deployed in a year. This is used for all the rest of the technologies</li>
        <li>Only one of the two above needs to be included, if both are included the 'num new projects' will override 'max deployment cap'</li>
        <li>'Project gen' is the size of the average project that year, in GWh</li>
      </ul></li>
    <li>I haven't changed any of the logic of the excel model apart from giving the option to exclude the quirks, which are:
        <ul>
            <li>2020 generation being included in the 2021-2025 cumulative generation summary</li>
            <li>NW spend being carried over into the next year</li>
            <li>Strike price for future year rather than awarded\ year being used in Emerging and Separate Negotiations pots</li>
        </ul>
    </li>
</ul>
{% endblock %}
