{% extends 'lcf/base.html' %}
{% block title %}
    New scenario based on {{ scenario.name }} -
{% endblock %}

{% block content %}
<script>
console.log('hello')
</script>
    <h1>New scenario based on {{ scenario.name }}</h1>
    <p>pk {{ scenario.pk }}</p>
    <form method="POST" class="post-form">{% csrf_token %}
        {{ scenario_form }}
        <button type="submit" class="save btn btn-default">Save</button>
        <!--<div class="to-hide">-->
        <div>
            <h3>Edit prices?</h3>
            <p>Enter values for 2020 to scenario end year (inclusive), separated by commas, spaces or tabs, eg if end year is 2025 enter six values.</p>
            {{ prices_form }}
            <h3>Edit technologies?</h3>
            {% for form in string_formset %}
                <hr>
                {{ form }}
            {% endfor %}
            {{ string_formset.management_form }}
        </div>
        <button type="submit" class="save btn btn-default">Save</button>

    </form>

{% endblock %}
