.to-hide {
  display: none;
}

.glyphicon-remove {
  color:red;
}
/*.page-header {
    background-color: #f08b1d;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size:  36pt;
    text-decoration: none;
}
*/
.content {
    margin-left: 40px;
}

/*p, ul, li, h1, h2, h3, h4 {
  color: #00353a;
}*/

h1, h2, h3, h4 {
    font-family: 'Sansita', sans-serif;
    font-family: 'Bitter', serif;
    font-family: 'Slabo 27px', serif;
}

.sidebar li {
  list-style: none;
}

.sidebar ul {
  padding-left: 12px;
}
.date {
    color: #828282;
}

.save {
    float: right;
}

.post-form {
  width: 60%;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

.post {
    margin-bottom: 70px;
}

.post h1 a, .post h1 a:visited {
    color: #000000;
}

.comment {
    margin: 20px 0px 20px 20px;
}


.graph {
    width: 70%;
}


.nav > li > a {
  display: inline-block;
}


.new, .new:hover, .new:focus {
  color: #f08b1d;
}

.del, .del:hover, .del:focus {
  color: red;
}

/*-----------------------*/
/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
}


/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 5px;
  padding-left: 5px;
}


.nav-sidebar > .active > a {
  background-color: #d0e0f0;
}

/*.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}*/

/*.nav-sidebar > .active {
}*/



/*
 * Main content
 */

.main {
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}


/*
 * Placeholder dashboard ideas
 */

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}
